  .normal {
    background: #BABAAE !important;
  }
  
  .fighting {
    background: #A75543 !important;
  }
  
  .flying {
    background: #78A2FF !important;
  }
  
  .poison {
    background: #A95CA0 !important;
  }
  
  .ground {
    background: #EECC55 !important;
  }
  
  .rock {
    background: #CCBD72 !important;
  }
  
  .bug {
    background: #C2D21E !important;
  }
  
  .ghost {
    background: #7975D7 !important;
  }
  
  .steel {
    background: #C4C2DB !important;
  }
  
  .fire {
    background: #FA5643 !important;
  }
  
  .water {
    background: #56ADFF !important;
  }
  
  .grass {
    background: #8CD750 !important;
  }
  
  .electric {
    background: #FDE139 !important;
  }
  
  .psychic {
    background: #FA65B4 !important;
  }
  
  .ice {
    background: #96F1FF !important;
  }
  
  .dragon {
    background: #8673FF !important;
  }
  
  .dark {
    background: #8D6855 !important;
  }
  
  .fairy {
    background: #F9AEFF !important;
  }