.cardos{
  background-image: url('https://i.pinimg.com/originals/9b/69/18/9b691890dbff4ff5bc10b57003ad0d9b.png');
  max-width: 18rem;
}

.cardos:hover {
  transform: scale(1.2);
}

.list-group-item {
  background-color: rgba(255, 255, 255, 0);
  font-weight: bold;
}

